<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 
	<meta name="description" content="" /> 
	<meta name="author" content="" />

	<title>Pencarian Tema Artikel - {{ data[0][0] }}</title>

	<!-- Bootstrap core CSS -->	 
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

	<!-- Custom fonts for this template -->

	<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

	<link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

	<!-- Custom styles for this template -->

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png') }}">
	<link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
	
</head>

<body>
	<section class="call-to-action text-white text-center">
		<div class="overlay"></div>

		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<div style="width:30%;display:flex;margin:auto;margin-bottom:3%">
						<a href=".." style="text-decoration:none;color:#fff"> 
							<img style="margin:auto;margin-bottom:3%" src="{{ url_for('static', filename='img/fav.png') }}" alt="">
							<h4>Referensi Artikel Tema</h4>
						</a>
					</div>
					<h3 class="mb-4">{{ data[0][0] }}</h3>
				</div>

				
			</div>
		</div>
	</section>
	<br>
	<section>
		<div class="container">
			<div class="row">
				<div class="span12">
					<article>
						<p>
							 {{ data[0][1] }}
						</p>
					</article>
				</div>
			</div>
		</div>
	</section>
	<div class="footer-wrapper footer-wrapper2">
		<div class="overlay"></div>
		<div class="container">
			<footer>
				<small>&copy;2017 <a style="color:#fff" href="https://github.com/muhammadsasmito/search_tema" target="_blank">Sash Team in Hots</a>  - Sekolah Vokasi Universitas Gadjah Mada.</small>
			</footer>
		</div>
		<br>
		<!-- ./container -->
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js	') }}"></script>
	<script>
		$('#sform-keyword').addClass('form-control form-control-lg')
		$('#sform-search').addClass('btn btn-block btn-lg btn-primary')
		$('#sform-search').val('Cari')
	</script>

</body>
</html>